# -----------------------------
# Documentação
# -----------------------------
HELP.md

# -----------------------------
# Backend - Maven
# -----------------------------
/backend/target/
.mvn/wrapper/maven-wrapper.jar
/backend/.env

# -----------------------------
# Frontend - Angular / Node.js
# -----------------------------
/frontend/node_modules/
frontend/dist/
/frontend/.angular/
frontend/package-lock.json

# -----------------------------
# Gradle (caso use em algum ponto)
# -----------------------------
.gradle/
!**/src/main/**/build/
!**/src/test/**/build/

# -----------------------------
# IDEs e ferramentas de build
# -----------------------------

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Eclipse
.metadata
bin/
tmp/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# -----------------------------
# Arquivos temporários e sistema
# -----------------------------
*.log
*.tmp
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# -----------------------------
# Arquivos de pacotes compilados
# -----------------------------
*.jar
*.war
*.ear

# -----------------------------
# Arquivos sensíveis
# -----------------------------
.env
.env.local
.env.*.local

# -----------------------------
# Docker
# -----------------------------
docker-compose*.yml
